@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  background-color: #232536;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 80px;
}
.menu_lists {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}
a:hover {
  text-decoration: underline;
}

.subscribe a {
  background-color: white;
  padding: 16px 48px;
  margin-left: 20px;
  color: black;
  font-weight: 600;
}

.subscribe a:hover {
  background-color: rgb(170, 22, 22);
  color: white;
  opacity: 0.9;
  transition: 300ms;
  text-decoration: none;
}

.hero_section {
  background-image: url(./assets/0ef0427f95f95d6c279b57dcfb8178ef.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 79px);
  background-color: black;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.hero_section:after {
  content: "";
  height: 100%;
  width: 100%;
  background: radial-gradient(#000000e0, #000000);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}
.hero_text {
  margin-left: 80px;
  line-height: 30px;
  width: 650px;
}

.hero_section h5 {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3px;
}

.hero_section h1 {
  color: white;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 2px;
  margin: 10px 0;
}

p.signature {
  color: white;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 2px;
}

.hero_section p {
  color: white;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 0;
}
.startup {
  font-weight: 700;
}
.sign {
  color: #ffd050;
}

.read_more_btn {
  margin: 30px 0;
}
.read_more_btn a {
  padding: 10px 30px;
  background-color: #ffd050;
  color: black;
  font-weight: 600;
}

article.container {
  width: 1200px;
}

section.feature_container {
  margin: 100px auto;
  display: flex;
  justify-content: flex-start;
  line-height: 1.8;
}

.feature_box {
  border: 1px solid #bbb1b142;
  box-sizing: border-box;
  padding: 20px;
  width: 750px;
}

.featured_post h2 {
  margin-bottom: 24px;
  color: #232536;
}

.feature_img {
  display: flex;
  justify-content: center;
}
.feature_img img {
  width: 710px;
  margin-bottom: 20px;
}

p.posted_by {
  font-size: 14px;
  margin: 8px 0;
}

.feature_box h3 {
  font-size: 28px;
  color: #232536;
}

.feature_box p {
  color: #6d6e76;
  font-size: 15px;
  font-weight: 400;
}

span.publisher {
  color: hsl(261, 57%, 42%);
  font-weight: 500;
}

span.publisher {
  color: hsl(261, 57%, 42%);
  font-weight: 500;
}

.left_post_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.left_post_head h2 {
  color: #232536;
}

.left_post_head a {
  font-size: 14px;
  color: hsl(261, 57%, 42%);
  padding-top: 5px;
  text-decoration: none;
}

.left_post_head a:hover {
  text-decoration: underline;
}

.post {
  margin-left: 20px;
  padding: 25px;
}

p.post_title {
  font-size: 22px;
  font-weight: 600;
}
